# This MCP service uses Claude AI to generate stories
# An anthropic account as well as funds are required to generate stories directly from one of your devices
# Go to https://console.anthropic.com/settings/billing to increase your Anthropic balance

# In a new .env file, put the value of your Anthropic API key
ANTHROPIC_API_KEY=value # Go to https://console.anthropic.com/settings/keys to manage your API keys

# Claude AI has been 